* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.header {
  display: flex;
  color: white;
  padding-top: 30px;
  text-align: center;
  height: 90px;
  margin: 0;
  justify-content: center;
  align-items: center;
  gap: 30px;
  box-sizing: border-box;
  width: 100%;
}

.title {
  font-size: 25px;
  color: #000099;
  font-family: "Big Shoulders Inline", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  cursor: pointer;
}

.space {
  display: none;
  height: 100px;
}


.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 780px;
  position: relative;
  max-width: 100%;
}

hr {
  color: #b0bec5;
  width: 100%;
}

.search-bar {
  flex: none;
  padding: 12px;
  border-radius: 50px;
  outline: none;
  border: 0px solid #F0F0F0;
  width: 100%;
  box-shadow: 0px 0px 10px 0px #d5d8dc;
  ;
}


.button {
  flex: none;
  width: auto;
  position: absolute;
  right: 0;
  color: rgb(151, 154, 154);
  text-align: center;
  margin: 5px;
  cursor: pointer;
}

.icon {
  display: block;
}

img {
  width: 10vw;
  height: auto;
  max-width: 70px;
  min-width: 40px;
  border-radius: 50%;
}

.search-result {
  padding: 20px;
  margin: 0 auto;
  width: 70%;
  word-wrap: break-word;
  text-align: left;
  max-width: 900px;
}

.result-title {
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  color: blue;
  margin-bottom: 6px;
}

.result-title:active {
  color: #303f9f;
}

.result-title:visited {
  color: #512da8;
}

a {
  text-decoration: none;
  color: black;
}

.result-header {
  cursor: pointer;
}

.result-url {
  cursor: pointer;
  font-size: 15px;
  margin-bottom: 6px;
}

.more {
  position: relative;
  cursor: pointer;
  display: flex;
  text-align: center;
  padding: 13px;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 10px 0px #F0F0F0;
  border-radius: 50px;
  width: 40%;
  margin: 20px auto;
  display: none;
}

.search-info {
  margin: 30px auto 30px 190px;
}

@media(max-width:800px) {
  .search-info {
    font-size: x-small;
    width: 90%;
    margin: auto;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .header {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 300px;
    position: relative;
    max-width: 100%;
  }

  .title {
    display: flex;
    margin: 0;
    font-size: 16px;
  }

  .search-result {
    width: 90%;
    margin: 0 auto;
    padding: 15px;
  }

  .search-bar {
    width: 100%;
    padding: 10px;
  }

  .button {
    position: absolute;
    right: 10px;
    margin: 0;
    padding: 0;
  }

  .search-info {
    font-size: xx-small;
    width: 90%;
    margin: auto;
    text-align: center;
  }

  .button span {
    font-size: 24px;
  }
  .more {
    width: 80%;
    margin: 20px auto;
  }
}
